# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Archivos temporales
*.log
*.tmp

# Entornos virtuales
.venv/
env/
venv/

# Modelos intermedios, excepto los exportados .tar.gz
models/*
!models/*.tar.gz

# Archivos de Rasa cache
.rasa/

# Archivos de VS Code
.vscode/

.venv/
__pycache__/
*.pyc
*.log

